{% js '/dist/prism.js' %}

{% set url = entry.externalLink ?? entry.url %}

<article class="entry-preview">
  <div class="container">
    <header>
      <time class="entry-date" datetime="{{ entry.postDate | atom }}">{{ entry.postDate | date }}</time>
      <h1 class="entry-title">
        <a href="{{ url }}">
          {{ entry.title }}
        </a>
      </h1>
    </header>
    <div class="entry-content">
      {{ entry.lede | md('gfm') }}
    </div>
  </div>
</article>
